#container {
  border: 1px solid blue;
  display: grid;
  grid-template-rows: 1fr max-content;
}
#imgFrame {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
}
#slidesFrame {
  text-align: center;
}
#imageNavigation > button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 3px;
}
#imageNavigation {
  text-align: center;
}
.location{
  background-color: green;
}
#imgFrame > button {
  height: 100px;
  align-self: center;
  margin: 10px;
}